.bg-img {
    background-size: cover;
    height: 100vh;
}

.banner-set-middle {
    padding-top: 110px;
}

.position-set {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 25%;
}

.img-resize {
    width: 30%;
    border-radius: 50%;
}

@media screen and (max-width: 724px) {
    .bg-img{
        height: 70vh;
    }

    .banner-set-middle {
        padding-top: 20px;
    }

    .position-set {
        position: absolute;
        margin: 0;
        left: 50%;
        top: 20%;
    }
}